*{
    box-sizing:border-box;
}
.all{   
 content: "";
 clear: both;
 width: 100%;
 height: auto;

}
.all img{
 width: 100%;
 filter: grayscale(100%);
 padding: 0;
 margin: 0;

}
.ag{
float: left;
width: 50%;
margin-top: -20px;

}
.ag .in {
 position: relative;
 width: 50%;
 margin-left: 25%;
 background-color: #E00122;
 border: none;
 cursor: pointer;
 padding: 10px;
 border-radius: 0px;  
 text-align: center;
 font-family: sans-serif;
 font-size: 16px;
 color: #ffffff;
 font-weight: bold;
}

.ag .in:hover {
background-color: #bb031f;

}
.three-contain{
width:100%;

}
.contain {
position: relative;

width: 100%;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s; 
}

.for {
height: 480px;
width: 100%;
background-color: #e4e4e4;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
margin-bottom: 30px;



}
.img-box {
width: 100%;
height:250px;
overflow: hidden;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;  
}
.img-box img{
width: 100%;
height: 100%;
overflow: hidden;
object-fit:cover;
-webkit-transition: all 2s;
-moz-transition: all 2s;
-o-transition: all 2s;
transition: all 2s;
}
.contain:hover img {
transform: scale(1.2);
}
.contain:hover{
transform: scale(1.065);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*background-color: #e00122; 
}
.for:hover .conte{
color: white; */
}
.contain:hover .img-box{
height: 230px;
}


.conte {
margin: 0px 0px;;
padding: 30px 25px 20px;
font-family: sans-serif;
font-size: 19px;
font-weight: bold;
color: #000;


}

.rm {
position: absolute;
background-color: rgb(46, 45, 45);
bottom: 30px;
right: 30px;
width: auto;
height: auto;
padding: 0px;
margin: 0;
cursor: pointer;


}
.rm:hover {
background-color: #e00122;
}
.bt{
padding: 15px;
color: white;
text-align: center;
font-weight: bold;
font-size: 18px;
font-family: sans-serif;
}
.all-hold{
width: 100%;
}

.community {
    position: relative;
    width:100%;   
    padding: 80 0;
}
.community::before {
    content:"";
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(uc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    filter: grayscale(100%);

}
.com-in {
    position: relative;
    width: 80%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    opacity: 1;
}

.in-left {
    float:left;
    width: 65%;
    background-color: white;
    height: 100%;
    padding: 30px;
}
.in-right {
    float:left;
    width:35%;
    height: 100%;
}

.in-left p {
    border-left: 5px solid red;
    padding-left: 10px;
}
.in-left a {
  
    position: absolute;
    bottom: 30;
    left: 30;
    background-color:#E00122;
    color: #fff;
    padding: 20px;
    cursor: pointer;
}
.in-left a:hover {
    background-color:rgb(46, 45, 45);
}
.in-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.all-clear{   
    content: "";
    clear: both;
    width: 100%;
    position: relative;
   
   }
blockquote{
    background: #f9f9f9;
    position: relative;
    border-left: 10px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 30px 20px;
    line-height: 1.4;
  }
  .quote-box {
    padding:  20px 60px;
    margin: 0px;
    line-height: 2.4;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
  }
  .quote-box::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: absolute;
    top: 50px;
    color: #ccc;
    font-size: 8em;
  }
  .quote-box::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    bottom: 10px;
    position: absolute;
    margin-left: 20px;
    color: #ccc;
    font-size: 8em;
  }
.all-clear img{
    position: relative;
    width: 100%;
    object-fit: cover;
}
.all-clear::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    
 background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
}
.health {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: 30px;
    z-index: 7;
    color: #fff;
}
.health p{

    display: block;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;

}

.health a{
    background-color: #e00122;
    padding: 15px;
    cursor: pointer;
}
.health a:hover{
    background-color: #bb031f;
}
.readmore{
    
    position: relative;
    margin-top:20px;
    width: 100%;
    border-bottom: 1px solid red;
    float: right;

}
.readmore a {
    position:relative;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    text-align: left;
    align-items: center;
    float: right;
    margin-bottom: 20px;

}

.readmore a::before{
    align-items: center;
    background-color: #df072e;
    border: 1px solid #df072e;
    border-radius: 50%;
    content: "";
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    height: 30px;
    width: 30px;
    position: relative;

}
.readmore a:hover::before{
    background-color: #000;
    border: 1px solid black;;
}
.readmore a:hover::after{
    border: solid #fff;
    border-width: 0 5px 5px 0;
}
.readmore a::after {
    content: "";
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 4px;
    display: block;
    position: absolute;
    left: 7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

#search {
    position: relative;
    width:100%; 
    margin: 0px;
    padding: 100px 20px;
    background-color: rgb(41, 40, 40); 
    
}
#search form{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

}
#search input[type=text]{
    width: 80%;
    padding: 15px;
    font-size: 17px;
    border: 1px solid black;
    margin: 0px;
    background: #f1f1f1;

}
#search button {
    width:20%;
    padding: 15px;
    background: gray;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
}

#search .showcontents {
    position: absolute;
    height: auto;
    width: 80%;
    background: white;
    top: 100%;
    left:0px;
    border: 1px solid black;
    border-top: none;


}
#search .showcontents ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-height:480px;
    overflow-y: scroll;
    
    
}
#search .showcontents ul::-webkit-scrollbar {
    display:none;
}
#search .showcontents li {
    height: 160px;
    width: 100%;


}

#search .box button:hover{
    background: red;
}

input[type=radio]{
    position: absolute;
    opacity: 0;
    cursor:pointer;
}
.check{
    position: relative;
    background: white;
}
 /*-------------------------------*/
.use-main{   
    content: "";
    clear: both;
    width: 100%;
    position: relative;
   
   }

@media screen and (max-width: 800px) {
.ag {
width: 100%;
border-top-style: solid;
border-width: 2px;
border-color: white;
margin-top: 0;

     
}
.ag .in {
width: 100%;
border-radius: 0;
margin-left: 0;
margin-top: 0;
 }
}

/*from load more*/

#search li .result{

    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}

.result a {
    text-decoration: none;
    color: black;
}
  
.result a .image{
    float: left;
    margin-bottom: 0px;
    margin-right:30px;
    padding: 8px;
    overflow: hidden;
    height: 100%;
    width: 130px;

    
  }
  
.result a .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
.result a .content{
  
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
  }
.result a .content p{
    color: grey;
}

.container-blog{
    display: none;
}
